.edui-button.edui-for-xiumi-connect .edui-button-wrap .edui-button-body .edui-icon {
    background-image: url("https://dl.xiumius.cn/connect/ue/xiumi-connect-icon.png") !important;
    background-size: contain;
}
